Language: Cpp
BasedOnStyle: Google
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlignOperands: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: true
ColumnLimit: 280
IndentWidth: 4
SortIncludes: false